<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h1>Edit user</h1>

<form th:action="@{/users/edit}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>

    <label>
        Name:
        <input type="text" name="name" th:value="${user.name}"/>
    </label>
    <br>

    <label>
        Surname:
        <input type="text" name="surname" th:value="${user.surname}"/>
    </label>
    <br>

    <button type="submit">Update</button>
</form>

<br>
<a th:href="@{/users}">Back to list</a>

</body>
</html>
